<div>
  <h3>If you want to get in touch...</h3>
  <div class="panel panel-default">
      <!--<div class="text-center header">Contact me</div>-->
      <div class="panel-body text-center">
        <h4>Feel free to contact me via:</h4>
        <address>
          {{ contact.location?.street }}, {{ contact.location?.city }}<br />
          {{ contact.location?.city }}<br />
          #{{ contact.phoneNumber }}<br />
          {{ contact.email }}<br />
        </address>
      </div>
  </div>
</div>